.product-card-container{
    width:100%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;
}
img{
    width: 100%;
    height:95%;
    object-fit: cover;
    margin-bottom: 5px;
}
button{
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display:none;
}