.hats-container {
  
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.hats{
  width: 20rem;
  height: 25rem;
  margin-top: 2rem;
}
.hats:hover {
  transform: scale(1.05);
}
