.product-container {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.product-item{
  border-radius: 10px;
  border: solid;
  border-color: bisque;
  width: 20rem;
  height: 25rem;
}
.product-item:hover {
  transform: scale(1.05);
}
.product-description{
  color:bisque
  
}
